@use "/src/utils";
.Hero {
  // width: clamp(300px, 100vw, 900px);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.hero__text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.4rem;
  flex: 1;
  @include utils.roboto;
  font-size: 3rem;
  color: utils.$lime-700;
  button {
    @include utils.btn;
  }
}
.hero__img {
  // height: 100%;
  width: 100%;
  // flex: 1;
  // background-color: red;

  img {
    // height: 100%;
    max-width: 100%;
  }
}

@media (max-width: 620px) {
  .hero__img {
    display: none;
    // width: 300px;
  }
}
