@use "/src/utils";
.Link {
  text-decoration: none;
}

.Product {
  // border: 0.1px dotted green;
  border-radius: 0.5rem;

  // background-color: #ecfccb;
  box-shadow: utils.$lime-200 5px 5px 10px;

  .img-container {
    width: 300px;
    height: 300px;
    @include utils.flexy();
  }
  .img-container {
    img {
      object-fit: contain;
      max-width: 100%;
    }
  }
  .footer {
    display: flex;
    justify-content: space-around;
    // border-top: 1px dotted green;
    background-color: utils.$lime-100;
    color: utils.$lime-900;
    font-weight: bold;
  }

  .product__name,
  .product__price {
    @include utils.roboto;
    font-size: 1.4rem;
  }
}
