@use "/src/utils";

.Details {
  @include utils.roboto;
  font-size: 1.4rem;

  // line-height: 1.5rem;

  .desc {
    width: clamp(100px, 100%, 800px);
  }
  button {
    @include utils.btn;
    background-color: utils.$lime-200;
    margin-right: 1rem;
    svg {
      margin-right: 4px;
    }
  }
  .img__container {
    height: 300px;
    img {
      object-fit: contain;
      max-height: 100%;
    }
  }
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  // background-color: red;
}
